@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr />

<p>This a simple web application . Here we have used a registration form where student can register . And all registration process will
    conitnue with the Admin. Admin can create, update, details and delete the student. And all the information of all student will
    store in the database that is <b>Microsoft SQL Server Management.</b></p>
<hr />
<p>We have made this simple web app with our five member's</p>
<table id="tb1">
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    <tr>
        <td>Somaiya Afrin Rimu</td>
        <td>20103010</td>
    </tr>
    <tr>
        <td>Afia Binte Abdullah</td>
        <td>20103011</td>
    </tr>
    <tr>
        <td>Minhazul Abedin Munna</td>
        <td>20103019</td>
    </tr>
    <tr>
        <td>Abid Hasan</td>
        <td>20103095</td>
    </tr>
    <tr>
        <td>Mst. Lamisa Tahasin Taha</td>
        <td>20103053</td>
    </tr>
</table>
