@{
    ViewBag.Title = "Home Page";
}

<h1>Student Registration Management System</h1>
<hr />
<br />
<div>
    <div class="ab">
        <p class="dc"> Only Admin Can access this Panel</p>
        <p class="pc">***Restrict for All student for access.</p>
    </div>
    <div class="bc">
        @*this div is using for showing the image*@
    </div>
</div>


